:root {
  --cr1: #f36e45;
  --cr2: #fff;
  --cr3: #000000da;
  --cr4: #000000a1;
  --cr5: #beb4b1;
  --fs1: 34px;
  --fs2: 24px;
  --fs3: 20px;
  --fs4: 16px;
  --fs5: 14px;
}
body {
  background: #e5e5e5;
}
/* the same attribute */
.cr1 {
  color: var(--cr1);
}
.c2 {
  color: var(--cr2);
}
.cr3 {
  color: var(--cr3);
}
.cr4 {
  color: var(--cr4);
}
.cr5 {
  color: var(--cr5);
}
.fs1 {
  font-size: 34px;
}
.fs2 {
  font-size: 24px;
}
.fs3 {
  font-size: 20px;
}
.fs4 {
  font-size: 16px;
}
.fs5 {
  font-size: 14px;
}
/* end the same attribute */
@font-face {
  src: url(ProductSansRegular_0.ttf);
  font-family: product;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: segoe ui;
}
body,
html {
  width: 100%;
  height: 100%;
}
[class*="container"] {
  max-width: 1170px !important;
}

.bg-product {
  /* SET Height cho nó rồi bảo sao ko lỗi? */
  /*height: 446px;*/
  background: #d1d7f5;
  /* overflow: hidden; */
}
#sliderproduct {
  width: 100%;
}
#sliderproduct .carousel-inner {
  overflow: visible;
}

#sliderproduct .col-sm-6.image {
  background: #fff;
  box-shadow: 0px 4px 8px 0px #959595;
  position: relative;
}
.item {
  padding: 20px 20px 40px 20px;
}

.col-sm-6.image .item img.img-fluid {
  width: 315px;
}
.col-sm-6.image h1 {
  margin-bottom: 20px;
}

#sliderproduct .top a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 14px 22px;
  background: #e0794f;
  box-sizing: border-box !important;
  text-align: center;
  margin: 0px 2px;
  display: block;
  color: #fff;
  width: 96px;
}

#sliderproduct .col-sm-4.mr-auto {
  margin-top: 22px;
}

* {
}

#sliderproduct p.cr1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

#sliderproduct .col-sm-6:last-child {
  padding-top: 27px;
  padding-bottom: 27px;
}
#sliderproduct .details p.d-inline-block {
  color: #e0794f;
}

#sliderproduct .details .fa {
  color: #e0794f;
  padding: 0px 3px;
}

#sliderproduct .rating {
  margin: 23px 0px;
}

#sliderproduct .details .btn {
  text-transform: uppercase;
  font-weight: 400;
  padding: 16px 22px;
  background: #e0794f;
  color: #fff;
  border-radius: 81px;
  font-size: 14px;
  display: inline-block;
}

#sliderproduct .details h2 {
  margin: 25px 0px 30px 0px;
  font-size: 24px;
  font-weight: 700;
}

#sliderproduct .details p.cr4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0px;
}
#sliderproduct .carousel-item {
  transition: 0.4s;
}

#sliderproduct a.carousel-control-prev,
#sliderproduct a.carousel-control-next {
  border-radius: 50%;
  background-color: brown;
  width: 46px;
  height: 46px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -60%);
}

.bg {
  height: 570px;
  overflow: hidden;
}

#sliderproduct ol.carousel-indicators {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: #292929;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
}
.footer img {
  width: 26px;
  position: relative;
  top: 0px;
  left: -3px;
}
.footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
